body{
    background-color: darkseagreen;
}

h1{
    color: black;
}

h2{
    color: black;
}

/*body {*/
/*    max-width: 960px;*/
/*    margin: auto;*/
/*}*/

img {
  display: block;
  max-width:350px;
  max-height:350px;
  width: auto;
  height: auto;
}

label {
    display: inline-block;
    width: 150px;
}

.main {
    max-width: 960px;
    margin: auto;
}

.left {
    horiz-align: left;
}