{% load static %}
<link rel="stylesheet" href="{% static 'design.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Pokemon League Website</title>
</head>
<body>
    <h1>Simple Pokemon League Website</h1>
    <br><br>
    <form method="post" action="pokemon_add">
        {% csrf_token %}
        Name: <input type="text" name="name" minlength="2" maxlength="50" required/><br>
        Type: <input type="text" name="type" maxlength="50" required/><br>
        Generation: <input type="number" name="generation" min="1" max="6" step="1" required/><br>
        Legendary: <input type="checkbox" name="legendary"/><br>
        HP: <input type="number" name="HP" min="1" max="300" step="1" required/><br>
        Attack: <input type="number" name="attack" min="1" max="300" step="1" required/><br>
        Defense: <input type="number" name="defense" min="1" max="300" step="1" required/><br>
        <input type="submit"><br>
    </form>

    <a href ="index">Home</a><br>
    <a href="query_results">Query Results</a><br>
    <a href="pokemon_add">Add a Pokemon</a><br>
</body>
</html>